AWS_ACCESS_KEY_ID=
AWS_REGION=
AWS_S3_DOMAIN=s3.amazonaws.com
AWS_SECRET_ACCESS_KEY=
CLOUDFRONT_KEY_ID=
CLOUDFRONT_PRIVATE_KEY=
DJANGO_LOG_LEVEL=DEBUG
DROPBOX_KEY=
ENABLE_VIDEO_PERMISSIONS=False
ET_PIPELINE_ID=
ET_HLS_PRESET_IDS=
ET_MP4_PRESET_ID=
GA_DIMENSION_CAMERA=
GA_KEYFILE_JSON=
GA_TRACKING_ID=UA-blablabla
GA_VIEW_ID=171841111
LECTURE_CAPTURE_USER=
MAILGUN_KEY=
MAILGUN_RECIPIENT_OVERRIDE=
MAILGUN_URL=
MIT_WS_CERTIFICATE=
MIT_WS_PRIVATE_KEY=
ODL_VIDEO_BASE_URL=http://ovs.odl.local:8089
ODL_VIDEO_LOG_LEVEL=DEBUG
REDIS_URL=
SECRET_KEY=
SENTRY_DSN=
STATUS_TOKEN=
USE_SHIBBOLETH=False
VIDEO_CLOUDFRONT_DIST=
SECURE_CROSS_ORIGIN_OPENER_POLICY=same-origin-allow-popups
# IMPORTANT: you MUST have a proper configuration for an elastic transcoder pipeline using the following 3 buckets names
VIDEO_S3_BUCKET=
VIDEO_S3_SUBTITLE_BUCKET=
VIDEO_S3_THUMBNAIL_BUCKET=
VIDEO_S3_TRANSCODE_BUCKET=
VIDEO_STATUS_UPDATE_FREQUENCY=60
VIDEO_WATCH_BUCKET_FREQUENCY=30
YT_ACCESS_TOKEN=
YT_CLIENT_ID=
YT_CLIENT_SECRET=
YT_UPLOAD_FREQUENCY=
YT_UPLOAD_LIMIT=
YT_PROJECT_ID=
YT_REFRESH_TOKEN=

# Keycloak configuration
KEYCLOAK_CLIENT_ID=odl-video-app
KEYCLOAK_CLIENT_SECRET=odl-video-secret-2025
KEYCLOAK_PUBLIC_KEY=
KEYCLOAK_SERVER_URL=http://kc.odl.local:7080
KEYCLOAK_REALM=ovs-local
KEYCLOAK_SVC_KEYSTORE_PASSWORD=supersecret123456
KEYCLOAK_SVC_HOSTNAME=kc.odl.local
KEYCLOAK_SVC_ADMIN=admin
KEYCLOAK_SVC_ADMIN_PASSWORD=admin
KEYCLOAK_PORT=7080
KEYCLOAK_SSL_PORT=7443
