{
  "extends": [
    "eslint-config-mitodl",
    "eslint-config-mitodl/flow",
    "eslint-config-mitodl/mocha"
  ],
  "parserOptions": {
    // This repo has no root babel config: babel options live inline in
    // webpack.config.shared.js and static/js/babelhook.js. Tell
    // @babel/eslint-parser (pulled in by eslint-config-mitodl/flow) to parse
    // without one, and enable the syntax it needs by hand.
    "requireConfigFile": false,
    "babelOptions": {
      "plugins": [
        "@babel/plugin-syntax-flow",
        "@babel/plugin-syntax-jsx"
      ]
    }
  }
}
