version: '2'
services:
  db:
    image: postgres
    ports:
      - "5432"

  redis:
    image: redis
    ports:
      - "6379"

  python:
    build:
      context: .
      dockerfile: ./travis/Dockerfile-travis-web
    command: /bin/true
    environment:
      DEBUG: 'False'
      COVERAGE_DIR: htmlcov
      PORT: 8089
      NODE_ENV: 'production'
      DATABASE_URL: postgres://postgres@db:5432/postgres
      BOOTCAMP_SECURE_SSL_REDIRECT: 'False'
      BOOTCAMP_DB_DISABLE_SSL: 'True'
      REDIS_URL: redis://redis:6379/0
      XDG_CACHE_HOME: /src/.cache
    env_file: .env

  web:
    image: odlvideoservice_python
    extends:
      service: python
    command: >
      /bin/bash -c '
      sleep 3 &&
      python3 manage.py migrate &&
      ./with_host.sh python3 manage.py runserver 0.0.0.0:8089'
    ports:
      - "8089:8089"
    links:
      - db

  celery:
    image: odlvideoservice_python
    extends:
      service: python
    command: >
      /bin/bash -c '
      sleep 3;
      celery -A odl_video worker -B -l debug'
    links:
      - db
      - redis
