Django==1.10.5
boto3==1.4.4
celery==4.0.2
cryptography==1.8.1
dj-database-url==0.3.0
dj-static==0.0.6
django-redis==4.7.0
djangorestframework==3.6.3
django-server-status==0.4.0
django-webpack-loader==0.4.1
factory_boy
faker
html5lib==0.999999999
ipython
newrelic
psycopg2==2.6
pytz
raven
redis==2.10.5
requests
uwsgi


# Touchstone
-e git+https://github.com/Brown-University-Library/django-shibboleth-remoteuser.git#egg=django-shibboleth-remoteuser

# MIT-Moira
-e git+https://github.com/mitodl/mit-moira.git#egg=mit-moira

# Django-Elastic-Transcoder
-e git+https://github.com/mitodl/django-elastic-transcoder.git#egg=django-elastic-transcoder