django==2.1.11
boto3==1.4.4
celery==4.3.0
celery-redbeat==0.13.0
cryptography
dj-database-url==0.3.0
dj-static==0.0.6
django-redis==4.7.0
djangorestframework==3.9.1
django-server-status==0.6.0
django-webpack-loader==0.5.0
factory_boy
faker
html5lib==0.999999999
ipython
newrelic
psycopg2==2.7.3.2
pycountry
pytz
raven==6.9.0
redis==3.2.1
requests>=2.20.0
urllib3>=1.24.2
uwsgi

# Google/Youtube API access
httplib2
google-auth
google-auth-oauthlib
google-auth-httplib2
oauth2client==3.0.0
google-api-python-client

django-compat==1.0.15
django-hijack==2.1.10
django-hijack-admin==2.1.10

# Touchstone
git+https://github.com/Brown-University-Library/django-shibboleth-remoteuser.git#egg=django-shibboleth-remoteuser==0.9

# MIT-Moira
git+https://github.com/mitodl/mit-moira.git#egg=mit-moira==0.0.4

# Django-Elastic-Transcoder
git+https://github.com/mitodl/django-elastic-transcoder.git#egg=django-elastic-transcoder==0.9.7

# TechTV Migration
mysqlclient
dropbox
Jinja2==2.10.1
bonobo
-e git+https://github.com/mitodl/pycaption.git#egg=pycaption
smart_open==1.5.7
