<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
  <h1>{% block pagetitle %}{% endblock %}</h1>
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  {% if user.is_authenticated %}
    <p>You are logged in as {{ user.username }}. <a href="{% url 'logout' %}">Logout</a></p>
  {% else %}
    <p><a href="{% url 'login' %}">Login</a></p>
  {% endif %}
  {% block content %}{% endblock %}
</body>
</html>
