{% extends "base.html" %}
{% block title %}TechTV | Video Detail{% endblock %}
{% block content %}

<form class="edit-video" action="{% url 'api:video-detail' object.id %}" method="PUT">
  <table>
  {{ form }}
  </table>
  <input type="submit" value="Update" />
</form>
<hr>
<p>Links:</p>
<ul>
  <li><a href="{{ object.s3_url }}">S3</a></li>
  <li><a href="{{ object.cloudfront_url }}">CloudFront direct</a></li>
  <li><a href="{{ cloudfront_signed_url }}">CloudFront signed</a></li>
</ul>
<h4>
<form class="delete-video" action="{% url 'api:video-detail' object.id %}" method="DELETE">
  <input type="submit" value="Delete video">
  <label>
    <input type="checkbox" name="s3" />
    Also delete from S3
  </label>
</form>

<script>
  let CSRF = "{{ csrf_token }}";
  let handleEdit = function(event) {
    event.preventDefault();
    let form = event.target;
    let data = {
      title: form.querySelector("[name=title]").value,
      description: form.querySelector("[name=description]").value,
    }
    let headers = new Headers();
    headers.append("X-CSRFToken", CSRF);
    headers.append("Content-Type", "application/json");
    fetch(form.action, {
      method: "PUT",
      headers: headers,
      credentials: 'same-origin',
      body: JSON.stringify(data),
    }).then(function(response) {
      if (response.ok) {
        form.appendChild(document.createTextNode("✓"))
      }
    });
  }
  let handleDelete = function(event) {
    event.preventDefault();
    let form = event.target;
    let headers = new Headers();
    headers.append("X-CSRFToken", CSRF);
    headers.append("Content-Type", "application/json");
    let url = form.action;
    if (form.querySelector("[name=s3]").checked) {
      url += "?s3=1";
    }
    fetch(url, {
      method: "DELETE",
      headers: headers,
      credentials: 'same-origin',
    }).then(function(response) {
      if (response.ok) {
        form.appendChild(document.createTextNode("✓"))
      }
    });
  }
  document.addEventListener("DOMContentLoaded", function() {
    document.querySelector("form.edit-video").addEventListener("submit", handleEdit);
    document.querySelector("form.delete-video").addEventListener("submit", handleDelete);
  });
</script>
{% endblock %}
