$mit-red: #a31e31;
$body-bg-color: transparent;
$linkcolor: #2568be;
$icon-color: #ababab;
$icon-hover: #007de1;
$fontgray: #666;
$card-bg-color: #fff;
$card-shadow: rgba(0,0,0,.25);
$blue-button: #007ee5;
$dropbox-button-bgcolor: #007ee5;
$lightgray-bg: #ececec;
$darkgray-bg: #1e1e1e;
$darkgray-bg-link: #54a4e4;
$fontblack: rgba(0,0,0,.87);
$icons-grey-bg: rgba(0, 0, 0, .26);
$validation-bg: #ffe8ec;
$validation-text: #f07183;
