$mit-red: #a31e31;
$body-bg-color: #fff;
$linkcolor: #2568be;
$icon-color: #007de1;
$icon-hover: #30a2fd;
$fontgray: #666;
$card-bg-color: #fff;
$card-shadow: #c7c7c7;
$tool-icon-color: #ababab;
$tool-icon-color-hover: #007de1;
$blue-button: #007ee5;
$darkgray-bg: #1e1e1e;
$darkgray-bg-link: #54a4e4;
$fontblack: rgba(0,0,0,.87);
$icons-grey-bg: rgba(0, 0, 0, .26);
