$video-card-width: 15.6%;

.collection-list-content,
.collection-detail-content {
  padding: 35px 0;
  min-height: calc(100vh - 379px);
  box-sizing: border-box;

  h1 {
    font-weight: 400;
    font-size: 1.4em;
    margin: 0;
    padding: 0 0 20px;
  }
}

.collection-list-content {

  @include breakpoint(mobile) {
    padding: 20px 0;
  }

  @include breakpoint(phone) {
    padding: 20px 0;
  }

  .centered-content {
    width: 80%;
    max-width: 1150px;
    margin: 0 auto 100px;
    padding: 25px 35px 40px;
    position: relative;
    box-sizing: border-box;

    @include breakpoint(mobile) {
      width: 90%;
    }

    @include breakpoint(phone) {
      padding: 20px 20px 35px;
      width: 92%;
    }
  }

  .create-collection-button, .paginator {
    position: absolute;
    right: 31px;

    @include breakpoint(phone) {
      position: static;
      margin: 28px 0 0 20px;
      display: inline-block;
    }
  }

  .create-collection-button {
    top: 25px;
  }

  .paginator {
    bottom: 25px;
  }

  .mdc-list {
    @include breakpoint(phone) {
      padding: 8px 10px 0;
    }
  }

  .mdc-list-item__text a {
    color: $fontblack;
    line-height: 1.3;

    &:hover {
      color: $linkcolor;
    }
  }

  .mdc-list-item {

    .mdc-list-item__graphic {
      border-radius: 50%;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
    }

    .grey-bg {
      background: $icons-grey-bg;

      .material-icons {
        color: #fff;
      }
    }
  }

  .material-icons {
    width: 24px;
    text-align: center;
    vertical-align: middle;
  }
}

.collection-detail-content {
  .centered-content {
    margin: 0 auto;
    width: 90%;
    box-sizing: border-box;

    @include breakpoint(mobile) {
      width: 92%;
    }
    @include breakpoint(phone) {
      width: 90%;
    }
  }

  header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 1% 18px;

    @include breakpoint(phone) {
      display: block;
    }

    .text {
      width: 50%;

      @include breakpoint(phone) {
        width: 100%;
      }

      h1, p.description {
        margin: 0;
        padding: 0 0 20px 0;
      }
    }

    p.description {
      color: #666;
      font-size: 16px;
      line-height: 1.4;
    }

    .tools {
      width: 50%;
      text-align: right;

      @include breakpoint(phone) {
        width: 100%;
        text-align: left;
      }

      div {
        display: inline-block;
      }

      .dropbox-btn {
        display: inline-block;
        margin: 0 0 0 23px;
        background-color: $dropbox-button-bgcolor;
        border-radius: 3px;
        color: #ffffff;
        font-family: Roboto, sans-serif;
        text-transform: none;

        img {
          display: inline-block;
          position: relative;
          top: 5px;
          height: 20px;
          margin-right: 5px;
        }
      }

      a {
        display: inline-block;

        i {
          vertical-align: middle;
        }
      }
    }
  }

  .video-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    align-items: stretch;

    .video-card {
      margin: 0 .5% 24px;
      width: $video-card-width;
      position: relative;
      box-sizing: border-box;

      @include breakpoint(widescreen) {
        width: 19%;
        margin: 0 .5% 24px;
      }

      @include breakpoint(desktop) {
        width: 24%;
        margin: 0 .5% 24px;
      }

      @include breakpoint(mobile) {
        width: 49%;
        margin: 0 .5% 24px;
      }

      @include breakpoint(phone) {
        width: 100%;
        margin: 0 0 24px;
      }

      &:hover {
        box-shadow: 7px 8px 18px #c7c7c7;
      }

      .message {
        padding: 56.25% 0 0;
        background-color: #272727;
        color: #fff;
        position: relative;
        overflow: hidden;

        >div {
          position: absolute;
          top: 26px;
          padding: 0 6%;
        }

        a, a:hover, a:visited {
          color: $darkgray-bg-link;
        }

        h5 {
          margin: 0 0 16px 0;
          font-family: Roboto, sans-serif;
          font-size: 17px;
          font-weight: 500;
        }

        p {
          opacity: 0.8;
          font-size: 15px;
        }
      }

      .thumbnail {
        width: 100%;
        position: relative;
        padding-top: 56.25%;
        overflow: hidden;
        background: black;

        a {
          width: 100%;
          display: block;
          font-size: 1px;
        }

        img {
          height: 100%;
          position: absolute;
          margin: auto;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
        }
      }

      .card-contents {
        height: 100%;
        background: #fff;
      }

      .video-card-body {
        padding: 15px 45px 16px 16px;
        margin: 0;

        h2 {
          margin: 0;
          padding: 0;
          line-height: 1.3;
          font-weight: 400;
          font-size: .9rem;
          word-wrap: break-word;

          a {
            color: rgba(0,0,0,.87);
          }
        }
      }

      .actions {
        margin: 0;
        padding: 0 6px;
        position: absolute;
        bottom: 11px;
        right: 15px;
      }
    }
  }

  .no-videos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 360px;
    padding: 25px;
    margin: 20px 0 0 0;
    background-color: $lightgray-bg;
    text-align: center;
    border-radius: 2px;

    @include breakpoint(phone) {
      width: auto;
    }

    h3 {
      margin: 0 0 20px 0;
      font-size: 20px;
      font-weight: 500;
    }

    p {
      margin: 0 0 20px 0;
      font-size: 16px;
    }
  }
}

.delete-video-dialog {
  h5 {
    padding: 25px;
    background-color: $lightgray-bg;
  }
}
