$video-card-width: 31%;

.collection-list-content,
.collection-detail-content {
  padding: 35px 0;
  min-height: calc(100vh - 379px);
  box-sizing: border-box;

  h2 {
    font-weight: 400;
    font-size: 1.4em;
    margin: 0;
    padding: 0 0 20px;
  }
}

.collection-list-content {

  @include breakpoint(mobile) {
    padding: 20px 0;
  }

  .centered-content {
    width: 80%;
    max-width: 1150px;
    margin: 0 auto 100px;
    padding: 25px 35px 40px;
    position: relative;
    box-sizing: border-box;

    @include breakpoint(mobile) {
      width: 90%;
    }
  }

  .create-collection-button {
    position: absolute;
    top: 25px;
    right: 31px;

    @include breakpoint(phone) {
      position: static;
      margin: 28px 0 0 20px;
      display: inline-block;
    }
  }

.mdc-list-item__text a {
  color: $fontblack;

  &:hover {
    color: $linkcolor;
  }
}

.mdc-list-item {

  .mdc-list-item__start-detail {
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .grey-bg {
    background: $icons-grey-bg;
    .material-icons {
      color: #fff;
    }
  }
}

  .material-icons {
    width: 24px;
    text-align: center;
    vertical-align: middle;
  }
}

.collection-detail-content {
  .centered-content {
    margin: 0 auto;
    width: 87%;
    max-width: 1380px;
    box-sizing: border-box;

    @include breakpoint(mobile) {
      width: 92%;
    }
    @include breakpoint(phone) {
      width: 90%;
    }
  }

  header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 1% 18px;

    .text {

      h2, p.description {
        margin: 0;
        padding: 0 0 20px 0;
      }

      p.description {
        color: #666;
        font-size: 16px;
        line-height: 1.4;
      }
    }

    .tools {
      a {
        display: inline-block;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .videos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    align-items: stretch;

    .video-card {
      margin: 0 0 40px;
      background-color: #ffffff;
      width: $video-card-width;
      overflow: hidden;

      @include breakpoint(mobile) {
        width: 47%;
      }
      @include breakpoint(phone) {
        width: 100%;
        margin: 0 0 25px;
      }

      &:hover {
        box-shadow: 7px 8px 28px #c7c7c7;
      }

      .thumbnail {

        a {
          width: 100%;
          display: block;
          font-size: 1px;
        }

        img {
          width: 100%;
        }
      }

      .card-contents {
        display: flex;
        flex-direction: column;
        height: 100%;
      }

      .video-card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px 15px 14px;
        height: 100%;

        h4 {
          flex-shrink: 1;
          margin: 0;
          padding: 8px;
          line-height: 1.3rem;
          overflow: hidden;
          font-weight: 400;

          a {
            color: rgba(0,0,0,.87);
          }
        }

        .actions {
          align-self: flex-end;
          flex-wrap: nowrap;
          flex-shrink: 0;
          margin: 17px 0 0 0;
          padding: 0 6px;
          color: #9a9a9a;

          * {
            margin-left: 10px;
          }

          a {
            cursor: pointer;
          }
        }
      }
    }
  }
}

.collection-form-dialog {
  label[for=collection-desc] {
    padding-top: 5px;
  }

  .permission-group {
    padding: 20px;
    margin: 0 0 20px;
    background-color: #f5f5f5;

    .mdc-form-field div {
      align-self: center;
    }

    h4 {
      padding: 0 0 15px 0;
      margin: 0;
      color: rgba(0,0,0,.87);
      font-weight: 500;
    }

    .mdc-form-field {
      display: flex;
      flex-direction: row;

      label {
        align-self: center;
        width: 88px;
        padding: 0;
      }

      .mdc-textfield-container {
        flex-grow: 1;
        margin-bottom: 0;

        .mdc-textfield {
          display: inline-block;
          margin: 0 0 0 5px;
        }
      }
    }
  }
}
