$video-card-width: 32%;

.collection-list-content,
.collection-detail-content {
  background-color: $body-bg-color;
  padding: 30px;

  h2 {
    font-weight: 400;
  }
}

.collection-list-content {

  .centered-content {
    max-width: 1300px;
    min-width: 800px;
    margin: 0 auto 100px auto;
  }

  ul li {
    padding: 5px 0;

    .material-icons {
      border-radius: 12px;
      background-color: #eee;
    }
  }

  a, a:visited {
    display: inline-block;
    font-size: 18px;
    line-height: 24px;
    vertical-align: middle;
    color: $linkcolor;
  }

  .material-icons {
    width: 24px;
    text-align: center;
    vertical-align: middle;
  }
}

.collection-detail-content {

  .centered-content {
    max-width: 1300px;
    min-width: 800px;
    margin: 0 auto;
  }

  header {
    padding: 0 0 10px 0;

    h2, p.description {
      margin: 0;
      padding: 0 0 20px 0;
    }
  }

  .videos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;

    .video-card {
      margin: 0 1% 20px 0;
      background-color: #ffffff;
      width: $video-card-width;
      overflow: hidden;

      .thumbnail {
        display: flex;
        align-items: center;
        justify-content: center;

        a {
          width: 100%;
          display: block;
        }

        img {
          width: 100%;
        }
      }

      .video-card-body {
        padding: 16px 15px 27px 20px;

        h4 {
          margin: 0;
          padding: 0 5px 10px 0;
          line-height: 1.3rem;
          overflow: hidden;
          font-weight: 400;

          a {
            color: rgba(0,0,0,.87);
          }
        }

        .actions {
          display: none;
          margin: 0;
          padding: 0;
          color: #9a9a9a;
          text-align: right;

          * {
            margin-left: 10px;
          }
        }
      }
    }
  }
}
