body {
  margin: 0;
  padding: 0;
  color: rgba(0,0,0,.87);
  font-family: Roboto, sans-serif;
  background: $body-bg-color;
}

.mdc-typography--title {
  line-height: 1.5rem;
  font-size: 1.4rem;
}

.mdc-typography--body1 {
  font-size: 1rem;
  line-height: 1.4rem;
}

a, a:link, a:visited, a:active {
  color: $linkcolor;
  text-decoration: none;
}

.material-icons {
  color: $icon-color;

  &:hover {
    color: $icon-hover;
    cursor: pointer;
  }
}

.fontgray {
  color: $fontgray;
}

button {
  .material-icons {
    position: relative;
    top: 5px;
    font-size: 21px;
    margin-right: 5px;
  }
}

.mdc-button--raised {
  background: $lightgray-bg;
  box-shadow: none;
  font-size: 13px;
}

.hidden {
  display: none;
}

.card {
  background-color: $card-bg-color;
  box-shadow: 1px 1px 8px $card-shadow;
  border-radius: 3px;

  .title {
    font-size: 18px;
    font-weight: 400;
    margin: 10px 0 7px 10px;
  }
}

/*---------------------------------------
   SECTION:  DIALOG STYLES
-----------------------------------------*/

.mdc-dialog {
  .mdc-dialog__surface {
    max-height: 90%;
    overflow: hidden;
  }

  .mdc-dialog__body {
    font-size: 1rem;
    overflow-y: scroll;
  }

  .mdc-dialog__footer {
    box-shadow: 1px 0px 18px #e4e4e4;
    z-index: 100;
  }
}

.mdc-dialog--open .mdc-dialog__backdrop {
  opacity: .75;
}

/*---------------------------------------
   SECTION:  FORM STYLES
-----------------------------------------*/

label {
  display: block;
  padding: 0 0 8px 2px;
  color: #444;
  font-size: 15px;
  width: 100%;
}

.mdc-text-field {
  width: 100%;
}

input[type=text], input[type=password], input[type=email], textarea, .mdc-text-field__input, input[type=text].mdc-text-field__input {
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.12) !important;
  box-sizing: border-box;
  padding: 10px;
  background: #fff;
  font-size: 15px;
}

.mdc-text-field-container, .mdc-textarea-container {
  margin: 0 0 14px 0;
}

textarea {
  height: 110px;
}

.button-link {
  background: $blue-button;
  font-size: 14px;
  color: rgba(255,255,255,.95);
  padding: 8px 16px;
  border-radius: 3px;
  font-weight: 400;
  cursor: pointer;

  i, i.material-icons {
    margin-right: 8px;
    position: relative;
    bottom: 2px;
    color: #fff;
  }
}

.validation-message {
  background-color: $validation-bg;
  color: $validation-text;
  font-size: 14px;
  padding: 5px;
}

.mdc-text-field__input__invalid {
  border: 1px solid #d50000 !important;
}

.ovs-form-dialog {
  label[for=collection-desc] {
    padding-top: 5px;
  }

  .permission-group {
    padding: 20px;
    margin: 0 0 20px;
    background-color: #f5f5f5;

    .nested-once {
      background-color: #ececec;
    }

    .mdc-form-field div {
      align-self: center;
    }

    h4 {
      padding: 0 0 15px 0;
      margin: 0;
      color: rgba(0,0,0,.87);
      font-weight: 500;
    }

    .mdc-form-field {
      display: flex;
      flex-direction: row;

      label {
        align-self: center;
        width: 88px;
        padding: 0;
      }

      .mdc-text-field-container {
        flex-grow: 1;
        margin-bottom: 0;

        .mdc-text-field {
          display: inline-block;
          margin: 0 0 0 5px;
        }
      }
    }
  }
}

.wideLabel {
  label {
    width: 100% !important;
  }
}

.collectionPerms {
  margin-left: 50px;
  font-size: 14px;
}
