body {
  margin: 0;
  padding: 0;
  color: rgba(0,0,0,.87);
  font-family: Roboto, sans-serif;
}

.mdc-typography--title {
  line-height: 1.5rem;
  font-size: 1.4rem;
}

.mdc-typography--body1 {
  font-size: 1rem;
  line-height: 1.4rem;
}

.mdc-dialog__body {
  font-size: 1rem;
}

p.channelLink {
  margin-bottom: 0px;
}

a, a:link, a:visited, a:active {
  color: $linkcolor;
  text-decoration: none;
}

.fontgray {
  color: $fontgray;
}

button {
  .material-icons {
    position: relative;
    top: 5px;
    font-size: 21px;
    margin-right: 5px;
  }
}

.mdc-button--raised {
  background: #ececec;
}

.card {
  background-color: $card-bg-color;
  box-shadow: 0 0 5px $card-shadow;
  border-radius: 2px;

  .title {
    font-size: 18px;
    font-weight: 400;
    margin: 10px 0 7px 10px;
  }
}

/*---------------------------------------
   SECTION:  FORM STYLES
-----------------------------------------*/

label {
  width: 88px;
  display: inline-block;
}

.mdc-textfield {
  width: calc(100% - 100px);
  max-width: 500px;
}
