.mdc-toolbar__icon--menu {
  color: $mit-red !important;
}

.mdc-toolbar {
  background-color: white !important;
  color: #585858 !important;
}

.mdc-toolbar__title {
  display: flex;
  align-items: center;

  @include breakpoint(phone) {
    margin-left: 8px !important;
  }
}

.title {
  padding-left: 30px;

  @include breakpoint(phone) {
    padding-left: 15px;
  }
}

.logo {
  width: 50px;
}
