.frequently-asked-questions {
  .question {
    margin-bottom: 20px;

    .show-hide-question {
      cursor: pointer;
      display: flex;
      align-items: center;
      font-weight: 600;

      i {
        color: black;
      }
    }

    .answer {
      margin: 20px 22px;

      @include breakpoint(phone) {
        margin: 20px 0px;
      }
    }
  }
}
