.faq-section {
  margin-top: 25px;
}

.frequently-asked-questions {
  .question {
    margin-bottom: 20px;
    color: #2568be;

    .show-hide-question {
      cursor: pointer;
      display: flex;
      align-items: center;
      font-weight: 600;

      i {
        color: black;
      }
    }

    .answer {
      margin: 20px 22px;
      color: #000000;

      @include breakpoint(phone) {
        margin: 20px 0px;
      }

      div {
        margin-bottom: 10px;
      }

      li {
        margin: 10px 0px 10px 0px;
      }
    }
  }
}
