.paginator {

  .paginator-button {
    font-weight: bold;

    &.disabled {
      opacity: .4;

      .material-icons {
        cursor: inherit;

        &:hover {
          color: inherit;
          opacity: inherit;
        }
      }
    }
  }
}
