.terms-update {
  font-style: italic;
}

.terms-strong {
  font-weight: bold;
}

.terms-title {
  font-weight: bold;
  font-size: 24px;
}

.terms-subheading {
  text-transform: uppercase;
}

.terms-div {
  margin: 10px 10px 10px 10px;
}

.terms-underline {
  text-decoration: underline;
}

.terms-list {
  li {
    margin: 10px 10px 10px 10px;
  }
}

.terms-link {
  display: block !important;
  text-align: right;
  font-size: 11px;
  margin-top: 5px;
}