@import 'breakpoints';

.summary {
  display: flex;
  flex-direction: column;
  margin: 15px 10% 80px;
  min-height: 300px;

  @include breakpoint(phone) {
    margin: 30px 5% 80px;
  }
}

.actions {
  margin-top: 20px;

  button.mdc-button {
    margin-right: 12px;

    .material-icons {
      color: #555;
    }
  }
}
