@import 'breakpoints';

.mdc-video-detail {
  margin: 15px auto 80px;
  min-height: 300px;
  width: 91%;
  max-width: 1360px;

  @include breakpoint(mobile) {
    width: 95%;
  }

  @include breakpoint(phone) {
    width: 98%;
    margin: 6px auto 80px;
  }
}

@include breakpoint(mobile) {
  .mdc-layout-grid__cell--span-5, .mdc-layout-grid__cell--span-7 {
    grid-column-end: span 12;
  }
}

.summary {
  display: flex;
  flex-direction: column;
  max-width: 1100px;
  width: 100%;
  padding-bottom: 10px;

  .video-summary-card {
    padding: 26px 5% 38px;

    p.channelLink {
      margin: 0px;
    }
  }
}

.actions {
  margin-top: 20px;

  button.mdc-button {
    margin-right: 12px;

    .material-icons {
      color: #555;
    }
  }
}

.camera-bar {
  overflow: hidden;
}

.camera-box {
  padding-left: 0px;
  margin-left: 0px;
  outline: 3px solid #d3d3d3;
  outline-offset: -5px;
}

.camera-box-selected {
  outline: 3px solid #ff0000;
}

.video-subtitles {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  align-items: stretch;

  .video-subtitle-card {
    margin: 0 0 40px;
    background-color: #ffffff;
    width: 100%;
    min-width: 325px;

    @include breakpoint(phone) {
      margin: 0 0 25px;
    }

    .card-contents {
      display: flex;
      flex-direction: column;
    }

    .video-subtitle-card-body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 10px 15px 14px;

      h4 {
        flex-shrink: 1;
        margin: 0;
        padding: 8px;
        line-height: 1.3rem;
        overflow: hidden;
        font-weight: 400;

        a {
          color: rgba(0,0,0,.87);
        }
      }

      .actions {

        margin: 2px 0 14px 0;

        * {
          margin-left: 10px;
          margin-top: 0px;
          margin-bottom: 5px;
        }

        div {
          margin-left: 0px;
          margin-bottom: 10px;
        }

        a {
          cursor: pointer;
        }
      }
    }
  }
}
