{% extends "base.html" %}
{% block title %}OVS | Collection Form{% endblock %}
{% block pagetitle %}OVS: Collection Form{% endblock %}

{% block content %}

{%  if form %}
<h2>Create New Collection</h2>
<form class="create-collection" action="{% url 'models-api:collection-list'%}" method="POST">
  <table>
    <tr>
      <th>{{ form.title.label_tag }}</th>
      <td>{{ form.title }}</td>
    </tr>
    <tr>
      <th>{{ form.description.label_tag }}</th>
      <td>{{ form.description }}</td>
    </tr>
    <tr>
      <th>{{ form.view_lists.label_tag }}</th>
      <td>{{ form.view_lists }}</td>
    </tr>
    <tr>
      <th>{{ form.admin_lists.label_tag }}</th>
      <td>{{ form.admin_lists }}</td>
    </tr>
  </table>
  {{ form.owner }}
  <input type="submit" value="Create" />
</form>

<script>
  let CSRF = "{{ csrf_token }}";

  let formatMoiraList = function(listVal) {
      // Split the form value by commas or spaces and remove empty strings
      return listVal.split(/[,\s]+/).filter(function(item){return item});
  };

  let handleCreate = function(event) {
    event.preventDefault();
    let form = event.target;
    let data = {
      title: form.querySelector("[name=title]").value,
      description: form.querySelector("[name=description]").value,
      owner: form.querySelector("[name=owner]").value,
      view_lists: formatMoiraList(form.querySelector("[name=view_lists]").value),
      admin_lists: formatMoiraList(form.querySelector("[name=admin_lists]").value)
    };
    let headers = new Headers();
    headers.append("X-CSRFToken", CSRF);
    headers.append("Content-Type", "application/json");
    fetch(form.action, {
      method: "POST",
      headers: headers,
      credentials: 'same-origin',
      body: JSON.stringify(data),
    }).then(function(response) {
      if (response.ok) {
        location.href = '/collections';
      }
    });
  }
  document.addEventListener("DOMContentLoaded", function() {
    document.querySelector("form.create-collection").addEventListener("submit", handleCreate);
  });
</script>
{%  else %}
<div>You do not have permission to create new video collections.</div>
{%  endif %}

{% endblock %}
