{% extends "base.html" %}
{% block title %}OVS | Collection Detail: {{ collection.title }}{% endblock %}
{% block pagetitle %}OVS: {{ collection.title }}{% endblock %}

{% block content %}
<p><a href="{% url 'collection-list' %}">All collections</a></p>
<ul>
  {% for video in video_list %}
    <li data-key="{{ video.hexkey }}"">
      <a href="{% url "video-detail" video.hexkey %}">{{ video.title }}</a>
    </li>
  {% empty %}
    <li><i>no videos in this collection</i></li>
  {% endfor %}
</ul>

<p>Need to <a href="{% url 'upload'  collection.hexkey %}">upload more videos</a>?</p>

{% endblock %}
