{% extends "base.html" %}
{% load i18n static %}

{% block title %}OVS{% endblock %}
{% block pagetitle %}OVS{% endblock %}
{% block content %}
{% if user.is_authenticated %}
  <ul>
    <li><a href="{% url 'collection-list' %}">View collections</a></li>
  </ul>
{% else %}
  <p>Welcome to OVS. Please log in.</p>
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
      {{ login_form }}
    </table>
    <input type="submit" value="Login" />
  </form>
  <p>Or you can create a new account.</p>
  <form method="post" action="{% url 'register' %}">
    {% csrf_token %}
    <table>
      {{ register_form }}
    </table>
    <input type="submit" value="Register" />
  </form>
{% endif %}
 <div id="container"></div>
{% load render_bundle %}
{% render_bundle 'root' %}
{% endblock %}
