{% extends "base.html" %}
{% block title %}TechTV | Upload{% endblock %}
{% block pagetitle %}TechTV: Upload{% endblock %}
{% block content %}
<p>To upload a video to TechTV, first add it to your Dropbox. Then click
on the button below to choose the video (or videos) that you want to upload
to TechTV.</p>

<div id="container"></div>

<p id="next">Next, <a href="{% url 'video-list' %}">view your uploaded videos</a>.</p>

<script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs" data-app-key="{{ dropbox_key }}"></script>
<script>
  let CSRF = "{{ csrf_token }}";
  let updateStatus = function(taskId) {
    fetch('/api/v0/tasks/' + taskId).then(function(response) {
      let progress = document.getElementById(taskId);
      if (!response.ok) {
        console.error("Error updating status for "+taskId);
        progress.parentNode.appendChild(document.createTextNode("error"));
        return;
      }
      response.json().then(function(data) {
        if (data.status === "PENDING") {
          // no data yet, try in a second
          setTimeout(updateStatus, 1000, taskId);
        } else if (data.status == "PROGRESS") {
          progress.max = data.info.total;
          progress.value = data.info.uploaded;
          // get an update in one second
          setTimeout(updateStatus, 1000, taskId);
        } else if (data.status == "SUCCESS") {
          progress.max = 100;
          progress.value = 100;
        } else if (data.status == "FAILURE") {
          let text = document.createTextNode("failed");
          progress.parentNode.appendChild(text);
        }
      });
    });
  }

  let handleStreamResponse = function(response) {
    if(!response.ok) {
      alert("Error");
      return;
    }
    response.json().then(function(videos) {
      let progressList = document.createElement("ul");
      let videoId;
      for (videoId in videos) {
        let video = videos[videoId];
        let videoFile = video.key.split("/")[2];
        let progress = document.createElement("progress");
        progress.id = video.task;
        progress.max = 100;
        progress.value = 0;
        let progressItem = document.createElement("li");
        let progressText = document.createTextNode(videoFile);
        let form = document.createElement("form")
        form.action = "/api/v0/videos/" + videoId + "/";
        form.method = "PUT";
        let titleLabel = document.createElement("label");
        titleLabel.appendChild(document.createTextNode("Title:"));
        let titleField = document.createElement("input");
        titleField.name = "title";
        titleLabel.appendChild(titleField);
        let descriptionLabel = document.createElement("label");
        descriptionLabel.appendChild(document.createTextNode("Description:"));
        descriptionField = document.createElement("textarea");
        descriptionField.name = "description";
        descriptionLabel.appendChild(descriptionField);
        let moiraLabel = document.createElement("label");
        moiraLabel.appendChild(document.createTextNode("Moira Lists (separated by spaces):"));
        moiraField = document.createElement("input");
        moiraField.name = "moira_lists";
        moiraLabel.appendChild(moiraField);
        form.appendChild(titleLabel);
        form.appendChild(descriptionLabel);
        form.appendChild(moiraLabel);
        let submitBtn = document.createElement("button")
        submitBtn.type = "submit";
        submitBtn.appendChild(document.createTextNode("Update"));
        form.appendChild(submitBtn);
        form.addEventListener("submit", formSubmit);

        progressItem.appendChild(progressText);
        progressItem.appendChild(progress);
        progressItem.appendChild(form);
        progressList.appendChild(progressItem);
        updateStatus(video.task);
      }
      let nextParagraph = document.getElementById("next");
      nextParagraph.parentNode.insertBefore(progressList, nextParagraph);
    })
  }

  let formSubmit = function(event) {
    event.preventDefault();
    let form = event.target;
    let data = {
      title: form.querySelector("[name=title]").value,
      description: form.querySelector("[name=description]").value,
      moira_lists: form.querySelector("[name=moira_lists]").value.split(" ")
    }
    let headers = new Headers();
    headers.append("X-CSRFToken", CSRF);
    headers.append("Content-Type", "application/json");
    fetch(form.action, {
      method: "PUT",
      headers: headers,
      credentials: 'same-origin',
      body: JSON.stringify(data),
    }).then(function(response) {
      if (response.ok) {
        form.appendChild(document.createTextNode("✓"))
      }
    });
  }

  let options = {
    success: function(files) {
      let headers = new Headers();
      headers.append("X-CSRFToken", CSRF);
      headers.append("Content-Type", "application/json");
      fetch("{% url 'upload-videos' %}", {
        method: "POST",
        headers: headers,
        credentials: 'same-origin',
        body: JSON.stringify(files),
      }).then(handleStreamResponse, function(error) {
        console.log('Fetch error: ' + error.message);
      });
    },
    cancel: function() {},
    linkType: "direct",
    multiselect: true,
    extensions: ['video'],
  };
  let button = Dropbox.createChooseButton(options);
  document.getElementById("container").appendChild(button);
</script>
{% endblock %}
