{% extends "base.html" %}
{% block title %}OVS | Upload{% endblock %}
{% block pagetitle %}OVS: Upload{% endblock %}
{% block content %}

<h2>Collection: {{ collection.title }}</h2>
<p>To upload a video to OVS, first add it to your Dropbox. Then click
on the button below to choose the video (or videos) that you want to upload
to OVS.</p>

<div id="container"></div>

<p id="next">Next, <a href="{% url 'collection-react-view' %}{{ collection.hexkey }}">view your uploaded videos</a>.</p>

<script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs" data-app-key="{{ dropbox_key }}"></script>
<script>
  let CSRF = "{{ csrf_token }}";
  let COLLECTION_KEY = "{{ collection.hexkey }}";
  let updateStatus = function(taskId) {
    fetch('/api/v0/tasks/' + taskId).then(function(response) {
      let progress = document.getElementById(taskId);
      if (!response.ok) {
        console.error("Error updating status for "+taskId);
        progress.parentNode.appendChild(document.createTextNode("error"));
        return;
      }
      response.json().then(function(data) {
        if (data.status === "PENDING") {
          // no data yet, try in a second
          setTimeout(updateStatus, 1000, taskId);
        } else if (data.status == "PROGRESS") {
          progress.max = data.info.total;
          progress.value = data.info.uploaded;
          // get an update in one second
          setTimeout(updateStatus, 1000, taskId);
        } else if (data.status == "FAILURE") {
          let text = document.createTextNode("failed");
          progress.parentNode.appendChild(text);
        } else {
          progress.max = 100;
          progress.value = 100;
        }
      });
    });
  }

  let handleStreamResponse = function(response) {
    if(!response.ok) {
      alert("Error");
      return;
    }
    response.json().then(function(videos) {
      let progressList = document.createElement("ul");
      let videoId;
      for (videoId in videos) {
        let video = videos[videoId];
        let videoFile = video.title;
        let progress = document.createElement("progress");
        progress.id = video.task;
        progress.max = 100;
        progress.value = 0;
        let progressItem = document.createElement("li");
        let progressText = document.createTextNode(videoFile);

        progressItem.appendChild(progressText);
        progressItem.appendChild(progress);
        progressList.appendChild(progressItem);
        updateStatus(video.task);
      }
      let nextParagraph = document.getElementById("next");
      nextParagraph.parentNode.insertBefore(progressList, nextParagraph);
    })
  }

  let formSubmit = function(event) {
    event.preventDefault();
    let form = event.target;
    let data = {
      title: form.querySelector("[name=title]").value,
      description: form.querySelector("[name=description]").value,
    }
    let headers = new Headers();
    headers.append("X-CSRFToken", CSRF);
    headers.append("Content-Type", "application/json");
    fetch(form.action, {
      method: "PUT",
      headers: headers,
      credentials: 'same-origin',
      body: JSON.stringify(data),
    }).then(function(response) {
      if (response.ok) {
        form.appendChild(document.createTextNode("✓"))
      }
    });
  }

  let options = {
    success: function(files) {
      let headers = new Headers();
      headers.append("X-CSRFToken", CSRF);
      headers.append("Content-Type", "application/json");
      fetch("{% url 'upload-videos' %}", {
        method: "POST",
        headers: headers,
        credentials: 'same-origin',
        body: JSON.stringify({'collection': COLLECTION_KEY, 'files': files}),
      }).then(handleStreamResponse, function(error) {
        console.log('Fetch error: ' + error.message);
      });
    },
    cancel: function() {},
    linkType: "direct",
    multiselect: true,
    extensions: ['video'],
  };
  let button = Dropbox.createChooseButton(options);
  document.getElementById("container").appendChild(button);
</script>
{% endblock %}
