{% extends "base.html" %}
{% block prebundle %}
  {% if video.multiangle %}
 <link rel="stylesheet" href="{{ uswitchPlayerURL }}/style/style.css" />
    <script type="text/javascript" src="{{ uswitchPlayerURL }}/lib/omni-external-libs.js"></script>
    <script type="text/javascript" src="{{ uswitchPlayerURL }}/lib/omni-min.js"></script>
    <script type="text/javascript" src="{{ uswitchPlayerURL }}/lib/hls.min.js"></script>
  {% endif %}
{% endblock %}
{% block content %}
  <div id="container"></div>
    {% load render_bundle %}
    {% render_bundle 'video_embed' %}
{%  endblock %}
