{% extends "base.html" %}
{% block title %}TechTV | Video List{% endblock %}
{% block pagetitle %}TechTV: Video List{% endblock %}

{% block content %}
<p>We know about the following videos:</p>
<ul>
  {% for video in object_list %}
    <li data-key="{{ video.s3_subkey }}" data-video-id="{{ video.id }}">
      <a href="{% url "video-detail" video.id %}">{{ video.title }}</a>
    </li>
  {% empty %}
    <li><i>no known videos</i></li>
  {% endfor %}
</ul>

<p>Need to <a href="{% url 'upload' %}">upload more videos</a>?</p>

{% endblock %}
