{% extends "base.html" %}
{% block title %}OVS | Video Detail{% endblock %}
{% block pagetitle %}OVS: Video Detail{% endblock %}
{% block content %}
{% if user.is_authenticated %}
    <p>You are logged in as {{ user.username }}. <a href="{% url 'logout' %}">Logout</a></p>
{% else %}
    <p><a href="{% url 'index' %}">Login</a></p>
{% endif %}
{% if videofile %}
    {% if video.multiangle %}
        <iframe src="{% url 'video-uswitch' video.id %}" class="video-odl-medium" frameborder="0"
                scrolling="no" allowfullscreen="allowfullscreen"></iframe>
    {% else %}
        <div id="odl-video-player" class="video-odl-medium"></div>
    {% endif %}
{% else %}
    <div>Your video is still processing. Please try again later.</div>
{% endif %}
<form class="edit-video" action="{% url 'video-api:video-detail' object.id %}" method="PUT">
  <table>
    <tr>
      <th>Uploaded by:</th>
      <td>{{ object.creator }}</td>
    </tr>
    <tr>
      <th>{{ form.title.label_tag }}</th>
      <td>{{ form.title }}</td>
    </tr>
    <tr>
      <th>{{ form.description.label_tag }}</th>
      <td>{{ form.description }}</td>
    </tr>
    <tr>
      <th>{{ form.moira_lists.label_tag }}</th>
      <td>
        {{ form.moira_lists }}
        <span>Type in as many lists as you want, separated by spaces.</span>
      </td>
    </tr>
    <tr>
        <th>Encoding Status:</th>
        <td>
            {{ object.status }}
        </td>
    </tr>
  </table>
  <input type="submit" value="Update"
    {% if not request.user.is_staff %}disabled{% endif %} />
</form>
<hr>
<p>Links:</p>
<ul data-video-id="{{ object.id }}">
  {% for link in video.videofile_set.all %}
    <li>{{  link.encoding }}</li>
    <ul>
        <li><a href="{{ link.s3_url }}">S3 link</a></li>
        <li><a href="{{ link.cloudfront_url }}">CloudFront direct link</a></li>
        <li><a href="{{ link.cloudfront_signed_url }}">CloudFront signed link</a></li>
    </ul>
  {%  endfor %}
    <li>Thumbnails</li>
    {% for thumb in video.videothumbnail_set.all %}
        <ul>
            <li><img src="{{ thumb.cloudfront_url }}" height="{{ thumb.max_height }}"></li>
        </ul>
    {% endfor %}
</ul>
<h4>
<form class="delete-video" action="{% url 'video-api:video-detail' object.id %}" method="DELETE">
  <input type="submit" value="Delete video"
    {% if not request.user.is_staff %}disabled{% endif %} />
</form>

<script>
  let CSRF = "{{ csrf_token }}";

  let handleEdit = function(event) {
    event.preventDefault();
    let form = event.target;
    let data = {
      title: form.querySelector("[name=title]").value,
      description: form.querySelector("[name=description]").value,
      moira_lists: form.querySelector("[name=moira_lists]").value.split(" "),
    }
    let headers = new Headers();
    headers.append("X-CSRFToken", CSRF);
    headers.append("Content-Type", "application/json");
    fetch(form.action, {
      method: "PUT",
      headers: headers,
      credentials: 'same-origin',
      body: JSON.stringify(data),
    }).then(function(response) {
      if (response.ok) {
        form.appendChild(document.createTextNode("✓"))
      }
    });
  }
  let handleDelete = function(event) {
    event.preventDefault();
    let form = event.target;
    let headers = new Headers();
    headers.append("X-CSRFToken", CSRF);
    headers.append("Content-Type", "application/json");
    let url = form.action;
    fetch(url, {
      method: "DELETE",
      headers: headers,
      credentials: 'same-origin',
    }).then(function(response) {
      if (response.ok) {
        form.appendChild(document.createTextNode("✓"))
      }
    });
  }
  document.addEventListener("DOMContentLoaded", function() {
    document.querySelector("form.edit-video").addEventListener("submit", handleEdit);
    document.querySelector("form.delete-video").addEventListener("submit", handleDelete);
  });
</script>
{% load render_bundle %}
{% if videofile %}
    {%  if not video.multiangle %}
        {% render_bundle 'video' %}
    {% endif %}
{% endif %}
{% endblock %}
